#copy to .env

PUBLIC_RPC=https://rpc-prost1b.powerloom.io
PUBLIC_STATE_CONTRACT=0xb1983E8ce013F62fC503AA5C7704B91a3bf25eC8
PUBLIC_NETWORK=Ethereum Mainnet
PUBLIC_EXPLORER_PREFIX=http://etherscan.io
SHOW_ALL_PAIRS=false
