#copy to .env

PUBLIC_RPC=https://ethereum-sepolia.blockpi.network/v1/rpc/public
PUBLIC_STATE_CONTRACT=
PUBLIC_NETWORK=Ethereum Mainnet
PUBLIC_EXPLORER_PREFIX=http://etherscan.io
PUBLIC_API_PREFIX=http://localhost:9030